
* {
    margin: 0;
    padding: 0; /* Reset padding to 0 for consistency */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the body is at least as tall as the viewport */
    background-image: url('your-background-image.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white background */
}

/* Flex container for header */
.header-container {
    display: flex;
    justify-content: space-between; /* Space between title and nav */
    align-items: flex-start; /* Align items to the top */
    padding: 10px; /* Add padding if needed */
    margin-top: 20px;
    margin-bottom: 40px;
}


/* Footer Styles */
footer ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
}

@media (min-width: 500px) {
    footer ul {
        grid-auto-flow: column;
    }
}

footer a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

footer li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

footer li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
}

/* Wave Animation */
@keyframes wave-animation {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-15deg);
    }
}

/* Footer Container Styling */
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 200px; /* Adjust as necessary */
    width: 100%;
    background-color: #002a38;
    line-height: 1.3;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}